@charset "UTF-8";

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('https://media.istockphoto.com/id/169975889/photo/empty-soccer-field-with-floodlights-at-night.jpg?s=612x612&w=0&k=20&c=zRKHta8teAVCEaiz8E_eYL31hd5JtCgoNDrVkWJlanY=')no-repeat center center/cover;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.newPlayerContainer {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 68px 40px;
    border-radius: 4px;
    max-width: 450px;
    width: 100%;
}
.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-group {
    margin-bottom: 16px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background: #333;
    border: 1px solid #333;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
}

.buttonGroup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 15px;
}

.starterSelectOption {
	display: flex;
	flex-direction: row;
    justify-content: space-evenly;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fdc8f9;
    background: white;
    color: black;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}
.radioGroup{
	display: flex;
	gap:5px;
}

.newPlayerContainer input[type="text"], 
.newPlayerContainer select {
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fdc8f9;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.newPlayerContainer input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.newPlayerContainer input[type="submit"]:hover {
    background: #2ecc71;
    color: black;
}

.newPlayerContainer a {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.newPlayerContainer a:hover {
    background: #3498db;
    color: black;
}