@charset "UTF-8";

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('https://img.freepik.com/free-photo/vintage-grunge-blue-concrete-texture-studio-wall-background-with-vignette_1258-28374.jpg?w=360')no-repeat center center/cover;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
.editContainer {
    padding: 60px 68px 40px;
    border-radius: 4px;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

editForm h1 {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 700;
}

.input-group {
    margin-bottom: 16px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background: #333;
    border: 1px solid #333;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
}

.buttonGroup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 15px;
}

.startBenchOption {
	display: flex;
	flex-direction: row;
    justify-content: space-evenly;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fdc8f9;
    background: white;
    color: black;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.radioGroup{
	display: flex;
	gap:5px
}

.allPlayersButton {
	width: 279px;
}

h2 {
	color: red;
	font-size: 45px;
}

.alert {
	display: flex;
	align-items: center;
	padding: 5px 10px;
	margin: 30px 0px;
	background-color: rgb(255,245,245);
	border: solid 1px red;
	color: black;
}

.icon {
	width:42px;
	height: fit-content;
	padding-top: 5px;
}

.alertTitle {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.editContainer input[type="text"],
.editContainer select {
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fdc8f9;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.buttonGroup .homeBtn, 
.buttonGroup .submitBtn,
.deleteButton .deleteBtn{
    border: 0;
	background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.buttonGroup .homeBtn {
    border: 2px solid #3498db;
}

.buttonGroup .submitBtn {
    border: 2px solid #2ecc71;
}

.deleteButton .deleteBtn {
    border: 2px solid #F15A5C;
}

.buttonGroup .homeBtn:hover {
	background: #3498db;
    color: black;
}
.buttonGroup .submitBtn:hover {
	background: #2ecc71;
    color: black;
}
.deleteButton .deleteBtn:hover {
	background: #F15A5C;
    color: black;
}